html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 100;
  color: white;
  background-image: url('https://s2.twnmm.com/images/en_ca/backgrounds/unified/default.jpg');
  overflow: auto;
  background-size: cover;
}

.page-wrap {
  height: 100%;
  width: 100%;
}

.wrap-div {
  height: 100%;
  width: 100%;
}

.cityContainer {
  padding: 15px 0;
}

#currentTemperature {
  font-size: 9.5em;
}

#currentTemperature > sup {
  font-size: 25%;
  top: -2.5em;
}

#currentDetails {
  position: relative;
  top: -36px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.spaceOutDiv {
  position: relative;
  top: 10%;
}

.wrap-div-forecast {
  height: 100%;
  width: 85%;
  margin: auto;
}

/*.container-fluid {
  background: rgb(127, 86, 163);
  border: 2px solid rgb(121, 221, 143);
}

.container {
  background: rgb(121, 221, 143);
  border: 2px solid rgb(127, 86, 163);
}

.row {
  background: rgb(214, 91, 102);
  border: 2px solid rgb(205, 143, 23);
}*/

.icon {
  position: absolute;
  right: 65%;
  top: 12%;
}

#home_icon {
  width: 70px;
}

.title-div {
  margin: 2px 0;
}

#feels-like {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}

.card {
  background-color: rgba(0, 0, 0, 0.52);
}

.weather-block {
  padding-top: 0px;
}

@media (max-width: 767px) {
  .wrap-div-forecast {
    height: auto;
  }
}
