html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
}

.page-wrap {
  height: 100%;
  width: 100%;
}

.wrap-div {
  height: 100%;
  width: 100%;
}

.cityContainer {
  position: relative;
  top: 45px;
}

#currentTemperature {
  font-size: 7.5em;
}

.spaceOutDiv {
  position: relative;
  top: 19%;
}

.wrap-div-forecast {
  height: 100%;
  width: 85%;
  margin: auto;
}

/*.container-fluid {
  background: rgb(127, 86, 163);
  border: 2px solid rgb(121, 221, 143);
}

.container {
  background: rgb(121, 221, 143);
  border: 2px solid rgb(127, 86, 163);
}

.row {
  background: rgb(214, 91, 102);
  border: 2px solid rgb(205, 143, 23);
}*/

.title-div {
  margin: 2px 0;
}

.weather-block {
  padding-top: 0px;
}

@media (max-width: 767px) {
  .wrap-div-forecast {
    height: auto;
  }
}
